<!DOCTYPE html>

<!--
A simple Flask App which takes
a user's name as input and responds
with "Hello {name}!"
-->

<html>
    <head>
        <title>Calculadora de IMC</title>
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
    </head>
    <body>
       <center> <H1>Calculadora del IMC para adultos</H1>
        Esta calculadora proporciona el IMC y la correspondiente categoría de nivel de peso según el IMC. Utilícela para adultos de 20 años o más.
        <form method="POST">
            Peso: <input type="text" name="peso"> Kg<br>
            Altura <input type="text" name="altura"> cm<br>
            <button type="submit">Analizar</button>
        </form>
        <p>{{message}}</p>
        <img src="https://statics-cuidateplus.marca.com/sites/default/files/images/Tabla-IMC(1).jpg">
    </center></body>
</html>
